!!!
%html
  %head
    %meta{:'http-equiv' => 'Content-Type', :content => 'text/html; charset=UTF-8'}
    %title= "ETVNET Grab Client (#{page.title if defined?(page.title)})"
    %link{ :href =>"/stylesheet.css", :rel => "stylesheet", :type => "text/css", :media => "screen" }
    %script{:src => "/javascripts/jquery-1.8.1.js", :type => "text/javascript"}
    %script{:src => "/javascripts/main.js", :type => "text/javascript"}
  %body
    #container
      %p#title=page.page_title if defined?(page.page_title)

      = yield
